* {
    box-sizing: border-box;
}

$background: #2B2B2B;

body, html {
    margin: 0;
    padding: 0;
    background-color: $background;
    color: white;
    font-family: 'Roboto';
}

header {
    nav {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;

        text-align: center;
        background-color: rgba(50,50,50,0.6);
        z-index: 150;
        
        a {
            text-transform: uppercase;
            display: inline-block;
            font-family: 'Catamaran', sans-serif;
            letter-spacing: 0.1rem;
            text-decoration: none;
            color: #E0E0E0;
            font-size: 1rem;
            padding: 0 1rem;
            padding-top: 0.75rem;
            height: 3rem;
            line-height: 2rem;
            &.selected {
                border-bottom: 2px solid #C0CA33;
            }
        }
        
        .book {
            float: right;
            line-height: 3rem;
            padding: 0 2rem;
            padding-top: 0.2rem;
            background-color: #C0CA33;
        }
    }
}


main {
    min-height: 100%;
    width: 100%;
    
}

#particles-js {
    height: 80vh;
    width: 100%;
    position: absolute;
    background-color: #202020;
    top: 0;
    left: 0;
    z-index: 0;
    clip-path: polygon(0 0,100% 0, 100% 75%, 0 90%);
}

.top {
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Logo.svg');
    background-position: center;
    background-size: 200%;
    clip-path: polygon(0 0,100% 0, 100% 75%, 0 90%);
}

.banner {
    text-align: center;
    margin-top: -3rem;
    padding: 2rem;
    h1, h2 {
        text-transform: uppercase;
        margin: 0;
        font-family: 'Orbitron', sans-serif;
    }
    
    h1 {
        font-size: 3rem;
        letter-spacing: 0.75rem;
    }
}

.content {
    margin: auto;
    width: 100%;
    max-width: 900px;
    padding: 0.5rem;
    
    section {
        padding: 0 1rem;
        display: inline-block;
        width: 100%;
        font-size: 1.2rem;
    }
    
    .booking {
        
        h1, h2 {
            margin: 0;
        }
        
        h1 {
            font-size: 3rem;
            font-weight: 800;
        }
        
        .bookingWidget {
            min-width: 320px;
            min-height: 600px;
            width: 50%;
            float: left;
        }

        section {
            width: 50%;
            float: left;
            h2 {
                margin-top: 0;
            }
        }
        
        img {
            width: 50%;
            float: left;
        }
        @media screen and (max-width: 700px) {
            .bookingWidget, section, img {
                width: 100%;
            }
        }
    }
    

}



