---
layout: default
---

<div class="home">

  <h1 class="mega-heading">Hello.</h1>
  <p>I’m Alexander Edwards, a student and a developer.</p>
  
  {{ content }}
    {% for post in site.posts %}
  <div class="home-post">
  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <h2>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      <span class="post-date">{{ post.date | date: date_format }}</span>
<!--
        {{ post.excerpt }}
        <a class="post-link" href="{{ post.url | relative_url }}">Read More</a>
-->
{{ post.content }}
  </div>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
